<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/project/src/main/java/manifests/Server/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="project" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../gson-2.6.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../junit-3.8.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../json-20140107.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>